---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | relative_url }}')">
  {% else %}
  <header class="masthead" style="background-image: url('{{ " /img/loading blog Character main.webp" | relative_url
    }}')">
    {% endif %}
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="page-heading">
            <div class="header-flex-wrapper">
              <div class="header-text-side">
                <h1 class="main-title">{{ page.title }}</h1>
                {% if page.description %}
                <span class="subheading">{{ page.description }} <img src="/img/joystick_img.webp" alt="Joystick"
                    class="joystick-pixel"></span>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2 class="section-title"><i class="fas fa-folder-open"></i> {{ page.title }}</h2>

        {{ content }}

        <hr class="section-divider">
      </div>
    </div>
  </div>